<%- include("partials/_header.ejs"); -%>
<h1>About</h1>
<p><%= abContent %></p>

<h3>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia laudantium
  delectus
</h3>

<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias
  accusantium earum cumque sequi, voluptatibus eum minus quo quam sunt. Pariatur
  commodi recusandae eum quidem obcaecati hic veritatis consequuntur repudiandae
  reprehenderit. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Consectetur molestiae corrupti vel, dolores, aliquid cum officia illo, non ut
  exercitationem voluptatum. Minus expedita fuga blanditiis iusto debitis
  reiciendis laboriosam natus?
</p>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti eaque eum
  esse dicta blanditiis amet sapiente at fugiat hic, sed ex expedita, quae
  aliquid, nam tempora autem nulla culpa? Ipsa.
</p>

<h3>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium corporis
  obcaecati quia sapiente
</h3>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque assumenda nihil
  rerum, corrupti hic natus harum nam molestiae inventore asperiores
  exercitationem consectetur corporis illo magnam ipsam, quisquam dolor libero
  optio!
</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quidem
  animi ea repellat, minima dolor fuga impedit, quis laborum, vero saepe in?
  Nulla sequi sed voluptatibus unde consequuntur vitae illum? Lorem ipsum, dolor
  sit amet consectetur adipisicing elit. Doloribus quas autem odio adipisci
  eligendi, deleniti asperiores id, expedita repudiandae, unde sed corrupti
  porro. Corporis ducimus fugit labore, animi velit officia?
</p>

<ul>
  <li>Dolor illum delectus eum suscipit exercitationem quaerat voluptatem.</li>
  <li>
    Aperiam, optio atque, obcaecati, molestiae ipsa eligendi neque id quod
    aspernatur.
  </li>
  <li>
    Incidunt culpa voluptas aut maiores voluptatem et saepe est unde,
    reprehenderit debitis eius fugit, necessitatibus temporibus quidem pariatur
    non animi!
  </li>
</ul>

<%- include("partials/_footer.ejs"); -%>
