<%- include("partials/_header.ejs"); -%>
<h1>Contact Us</h1>
<p><%= contContent %></p>

<form id="contact-form" action="/">
  <div class="form-group">
    <label for="" class="form-label">Name</label>
    <input type="text" placeholder="Name" class="form-control" />
    <label for="" class="form-label">Subject</label>
    <input type="text" placeholder="Subject" class="form-control" />
    <label for="" class="form-label">Message</label>
    <textarea
      name="message"
      cols="30"
      rows="10"
      placeholder="Your message here..."
      class="form-control"
      required="true"
    ></textarea>
  </div>
  <button class="btn btn-primary">Send</button>
</form>

<%- include("partials/_footer.ejs"); -%>
